/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
mj-all {
    padding: 0;
    font-family: alright_sanslight,Open Sans,Helvetica,sans-serif;
    font-weight: 300;
}

mj-section {
    css-class: 'section';
}

mj-body {
    background-color: #fff;
    width: 640px;
}

.mj-button-primary {
    background-color: #f96625;
    border-radius: 24px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 24px 55px;
    inner-padding: 10px 48px;
    text-decoration: underline;
    align: left;
}

.mj-button-plain {
    background-color: none;
    color: #000;
    text-decoration: underline;
    padding: 0;
    inner-padding: 0;
    align: left;
}

mj-text {
    font-size: 17px;
    line-height: 30px;
    padding: 0 55px;
}

.mj-content-column {
    padding-bottom: 24px;
}

.mj-align-center {
    align: center;
}

.mj-h1 {
    padding-top: 28px;
    padding-bottom: 28px;
}

.mj-h2 {
    padding-top: 38px;
    padding-bottom: 24px;
}