/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 37px;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.4;
}

.preview-text {
    color: transparent; 
    display: none; 
    height: 0; 
    max-height: 0; 
    width: 0;
    max-width: 0; 
    opacity: 0; 
    overflow: hidden; 
    mso-hide: all; 
    visibility: hidden;
}
